!.keep
*.DS_Store
*.swo
*.swp
.byebug_history
/.bundle
/.env.local
/coverage/*
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/node_modules
/public/assets
/public/packs
/public/system
/tags
/tmp/*
/yarn-error.log
.env.production
.env
.Rproj.user
data_analysis/data
pana_emoji_analysis.html
simulating_random_sampling.html
*-data_analysis.zip
