html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

$bigger-device-grid: (
  columns: 12,
  media: 768px
);

.center {
  margin: 20px;
  
  @include grid-column(12);
  @include grid-media($bigger-device-grid){
    @include grid-shift(3);
    @include grid-column(6);
  }
}