h1 = 'Besten dank, dass Sie sich die Zeit genommen haben an dieser Untersuchung teilzunehmen.'
p Die von Ihnen generierten Daten sind ein wertvoller Beitrag zu unserer Forschung.
p Sie haben die Untersuchung beendet und können das Fenster jetzt schliessen.