p The following questionary is designed to validate nonverbal emojis in correspondence to the verbal terms of the scales for assessing positive/negative activation. It origins from the german scales for assessing positive/negative activation and valence (PANAVA-KS).
p In the following you will see several emojis that expresses one of two words. Your task is to choose the word that best describes the emoji. It generally won't take you longer than 10 minutes.