p Die folgende Befragung wurde entwickelt, um die nicht verbalen Emojis mit den verbalen Begriffen der Skala zur positiven und negativen Aktivierung zu vergleichen. Diese entstammen den dem deutschen Fragebogen zur Erfassung der positiven und negativen Aktivierung (PANAVA-KS).
p Im Folgenden werden Sie verschiedene Emojis sehen, die einen von zwei dargestellten Begriffen ausdrücken. Ihre Aufgabe ist es, das Wort zu wählen, welches das angezeigte Emoji am besten beschreibt. Für diese Befragung werden Sie in der Regel weniger als 10 Minuten benötigen.